body {
    background-color: aqua;
    font-family: TH sarabunPSK;
    color: white;
}

#btn {
    margin: 10px auto auto auto;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 20px
}

h1 {
    text-align: center;
    width: 100%;
}

#degree {
    width: 300px;
    height: 30px;
}